<div class="chat">
    <form onSubmit="Chat_submitWriteMessageForm(this); return false;">
        <input name="authorName" type="text" placeholder="작성자">
        <input name="content" type="text" placeholder="내용">
        <input type="submit" value="작성">
    </form>
    <div class="chat_messageBox">
        <ul class="chat_message-ul">

        </ul>
    </div>
</div>

<!--fetchGet fetchPost-->
<script>
    // ajax 유틸
    function fetchPost(url, data) {
        return fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json"
            },
            body: JSON.stringify(data)
        }).then((response) => response.json());
    }

    function fetchGet(url, data) {
        let query = Object.keys(data)
            .map((k) => encodeURIComponent(k) + "=" + encodeURIComponent(data[k]))
            .join("&");

        return fetch(url + "?" + query, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json"
            }
        }).then((response) => response.json());
    }
</script>

<!--채팅 메세지 작성-->
<script>
    // 채팅 작성 폼
    function Chat_submitWriteMessageForm(form) {
        form.authorName.value = form.authorName.value.trim();

        if (form.authorName.value.length == 0) {
            form.authorName.focus();
            alert("작성자 누구임??");
            return;
        }

        form.content.value = form.content.value.trim();

        if (form.content.value.length == 0) {
            form.content.focus();
            alert("내용 뭐임??");
            return;
        }

        fetchPost("/chat/writeMessage", {
            authorName: form.authorName.value,
            content: form.content.value
        }).then(console.log);

        form.content.value = "";
        form.content.focus();

        // POST http://localhost:8080/chat/writeMessage
    }
</script>